@media screen and (min-width: 600px) {
    .content {
        padding-top: 15px;
    }
}

@media screen and (min-width: 900px) {
    // app breakpoints
    .my-nav {
        width: 100% !important;
        position: fixed !important;
        z-index: 10;
    }

    .side-nav {
        top: 0;
        position: fixed;
    }

    .content {
        padding-top: 75px;
        padding-left: 18% !important;
    }

}

@media screen and (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 95% !important;
    }

}


