.background__primary {
  background-color: #F3EFCC;
}

.my-card {
  background-color: #ECE7B4 !important;
}

.my__card-text {
  margin-bottom: 0 !important;
}

.description {
  text-align: justify;
}

.link__item {
    display: flex;
    gap: .6rem;
    align-items: center;
}

.link__item i {
    width: 16px;
    margin-left: 0;
}

.link__item i:not(.chart) {
  margin-left: 5px;
}

.active {
    background-color: rgb(22 101 52) !important;
}

/* .bg-green {
  background-color: rgb(21 128 61) !important;
} */

.card__login {
    /* border: 1px solid rgba($color: #000000, $alpha: 0.5); */
    border: 1px solid rgba(0, 0, 0, .5);
}

.login__main-card {
    position: relative !important;
}

.login__img-thumb {
    position: absolute;
    width: 100px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    top: -4rem;
    left: 0;
    right: 0;
    background-color: #fff;
}

.login__img-thumb img {
    width: 100%;
    object-fit: cover;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/wave.svg'), url('../img/wave-2.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

#logout {
  background-color: rgb(220 38 38) !important;
}

.side-nav {
  color: rgb(250 250 249) !important;
  /* margin-bottom: 10px !important; */
}

/* layout main background */
html {
  background-image: url('../img/unj_bg.png');
}


@media screen and (min-width: 720px) {
    .login__img-thumb {
        top: -4rem;
    }
}

.show {
  display: inline-block;
  border-radius: 0.25rem;
}

.lds-dual-ring.hidden {
  display: none;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 20% auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,.8);
      z-index: 999;
      opacity: 1;
      transition: all 0.5s;
  }


  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
